<h1 class='page-header'>History</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Oponent</th>
      <th>Score</th>
      <th>Result</th>
    </tr>
  </thead>
  <tbody>

    <% @history.each do |log| %>
      <tr>
        <td><%= log.date.strftime("%B %e") %></td>
        <td><%= log.oponent %></td>
        <td><%= log.my_score %> - <%= log.their_score %></td>
        <td>
          <% if log.my_score > log.their_score %>
            W
          <% else %>
            L
          <% end %>
        </td>
      </tr>
    <% end %>

  </tbody>
</table>

<!--<%= image_tag('history.png') %>-->
